html,
body {
  height: 100%;
}

html {
  background-color: #f7f9fc;
}

body {
  font-size: 14px;
  line-height: 1.444;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Helvetica',
    'Segoe UI', 'Arial', sans-serif;
  color: #686c78;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  height: 100%;
}

.g_search {
  width: 40%;
}

.no_more_text {
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
}

.shop_sku_form {
  display: flex;
  flex-wrap: wrap;
  .el-form-item {
    margin-bottom: 18px;
    width: 260px;
  }
  .dealType {
    width: 320px;
    margin-right: 380px;
    .el-form-item__content {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }
  .skuId {
    margin-right: 400px;
  }
  .customerWeight {
    margin-right: 140px;
  }
  .skuNum {
    margin-right: 400px;
  }
  .el-input {
    width: 140px;
  }
  .note {
    width: 580px;
  }
  .el-select {
    width: 520px;
    .el-input__inner {
      width: 100%;
    }
  }
  .el-textarea__inner {
    width: 500px;
  }
}

.table_filter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 10px;
  .el-form-item {
    margin-bottom: 0;
    margin-top: 10px;
  }
  .effect_btn_group {
    margin-top: 10px;
  }
}

.Txcel {
  width: 100%;

  td {
    padding: 8px 0;
  }

  .el-table .cell {
    padding-left: 4px;
    padding-right: 4px;
  }

  .el-table__header {
    .cell {
      padding: 0 4px;
      font-weight: 600;
    }
  }

  .el-table-column--selection .cell {
    text-overflow: unset;
  }

  .el-pagination {
    margin-top: 16px;
    text-align: right;
  }
}
.el-link {
  margin: 12px 0;
}
.BoxShadow {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.popover_set {
  width: 450px;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.keyword_mark {
  background: yellow;
  color: red;
}

.el-image-viewer__wrapper {
  z-index: 4000 !important;
}

.AuditPopverImage {
  max-width: 650px;
  max-height: 650px;
  object-fit: contain;
}

.cell_tools_third_tags {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ip_col {
  cursor: pointer;
  &:hover {
    color: #009688;
  }
}

.text_one_line {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cell {
  .el-button--mini {
    padding: 7px 12px;
  }
}

.el-card {
  .el-table {
    .sort-caret.ascending {
      display: none;
    }
    .sort-caret.descending {
      bottom: 10px;
    }
  }
}
